@import './vars.scss';
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('./assets/mouse_cursor.png'), default;
}
