
.dark {
  $white:    #000 !default;
  $gray-100: #212529 !default;
  $gray-200: #343a40 !default;
  $gray-300: #495057 !default;
  $gray-400: #6c757d !default;
  $gray-500: #adb5bd !default;
  $gray-600: #ced4da !default;
  $gray-700: #dee2e6 !default;
  $gray-800: #e9ecef !default;
  $gray-900: #f8f9fa !default;
  $black:    #fff !default;

  $primary: rgb(200, 124, 13);
  $secondary:     $gray-400 !default;
  $body-bg: #343a40;
  $body-color: #f8f9fa;

  @import '~bootstrap/scss/bootstrap';
  @import '~bootstrap-vue/src/index.scss';

  header { background: $body-bg; }
}
